.heading{
          text-align: center;
          font-size: 5rem;
          margin-bottom: 5rem;
          padding: 0 0 1rem;
          position: relative;
          color: chocolate;
          &::before{
              content: '';
              position: absolute;
              width: 100px;
              height: 3px;
              left: 50%;
             transform: translateX(-50%);
              bottom: 0;
              background-color: chocolate;
          }
        //   &::after{
        //       content: '';
        //       position: absolute;
        //       width: 35%;
        //       height: 3px;
        //       right: 0;
        //       top: 50%;
        //       background-color: chocolate;
        //   }
      }